.bg-success {
  font-family: Oswald;
  padding: 2px;
  margin: 2px;
  border: 2px solid;
}

.container {
  font-family: 'Oswald', sans-serif;
  background-color: #F6FFFC
}

.main {
  text-align: center;
}

.lang {
  color: #7F7761;
}
.backmain {
  float: absolute
}

.panel-title {
  font-family: 'Handlee', cursive;
  text-align: center
}
.Handlee {
  font-family: 'Handlee', cursive
}

.projectlist {
  float: absolute
}

a:visited {
    color: #C39BCC;
    text-decoration: none
}

.darkpurple {
  color: #8E5A99
}
