.bg-success {
  font-family: Oswald;
  padding: 2px;
  maring: 4px;
  border: 2px solid;
}

.container {
  font-family: 'Oswald', sans-serif;
}

.main {
  text-align: center;
}

.lang {
  color: blue;
}
.backmain {
  text-align: center;
}
